<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Messages</title>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: black;
            text-align: center;
            background-color: white;
        }
    </style>
</head>

<body style="background-image: url('/img/back6.jpg');  background-size: cover; overflow: hidden;">
    <div style="width: 100%; position: absolute; z-index: -1;  height:100%; background-color:  pink; opacity: 0.8;">
        <nav role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/home" class="brand-logo"> MATCHA</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="#!">Reset Password</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/find">Find</a></li>
                    <li><a href="#" id="notiflnk">Notifications<span class="new badge" id="notif1">0</span></a></li>
                    <li><a href="/chat">Messages<span class="new badge" id="msg1">0</span></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Settings<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/find">Find</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="#">Notifications<span class="new badge" id="notif2">0</span></a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
                <!-- <ul id="nav-mobile" class="sidenav">

				</ul> 
				<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->

            </div>
        </nav>
        <h1 style="text-align:center">Messages</h1>
        <div id="chat" class="row">
            <div class="col s4">
                <% for(var i=0; i < users.length; i++) { %>
                <div class="row">
                    <div class="col s12">
                        <ul class="collection">
                            <li class="collection-item avatar">
                                <img src="<%= media[users[i]].data%>" alt="" class="circle">
                                <span class="title"><%=users[i]%></span>
                                <p><%=allusers[users[i]].status %><br>
                                    <%if(allusers[users[i]].status == "offline") {%>
                                    Last Seen : <%= new Date(allusers[users[i]].lastseen * 1000) %>
                                    <% } %>
                                </p>
                                <a href="#!" class="secondary-content" id="click<%=users[i]%>"><i
                                        class="material-icons">grade</i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>

            <div class="col s7  red lighten-5" style="max-height: 800px; overflow-y: scroll;">
                <div class="row" id="msgpanel">
                    <!-- <div class="row">
                    <div class="card-panel teal">
                        <span class="white-text">I am a very simple card. I am good at containing small bits of
                            information.
                            I am convenient because I require little markup to use effectively. I am similar to what is
                            called a panel in other frameworks.
                        </span>
                    </div>
                </div> -->
                </div>
                <div class="row">
                    <div class="input-field col s8">
                        <textarea id="text" class="materialize-textarea black-text"></textarea>
                        <label for="text">Text</label>
                    </div>

                    <div class="col s4">
                        <button class="btn waves-effect" type="submit" id="btnsend" name="action">Send
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!-- <script src="http://localhost:80/jquery/jquery-3.1.1.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- <script src="/js/materialize.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script>
        var t;
        var user = "";
        var numMsgs = 0;
        // 		(function($){
        //   $(function(){

        //     $('.sidenav').sidenav();

        //   }); // end of document ready
        // })(jQuery); // end of jQuery name space

        // var instance = M.Carousel.init({
        //     fullWidth: true
        //   });

        // Or with jQuery

        // $('.carousel.carousel-slider').carousel({
        //   fullWidth: true
        // });
        $(".dropdown-button").dropdown();
        $(".button-collapse").sideNav();

        function addMessage(color, align, text) {
            $("#msgpanel").append('<div class="row"> <div class="card-panel ' + color + align + '"> <span class="black-text ">' + text + '</span> </div> </div>');
        }

        function msgPoll() {
            if (user) {
                $.ajax({
                    type: 'GET',
                    url: '/getMessages?username=' + user,
                    success: (data) => {
                        let count = data.length;
                        $.ajax({
                            type: 'GET',
                            url: '/readMessages?username=' + user,
                            success: () => { console.log('read') }
                        });
                        if (count > numMsgs) {
                            for (let index = numMsgs; index < count; index++) {
                                let color = "light-blue darken-1 ";
                                let align = "right-align";
                                if (data[index].from == user) {
                                    color = "blue-grey lighten-3 ";
                                    align = "left-align";
                                }
                                addMessage(color, align, data[index].text);
                            }
                            numMsgs = count;
                        }
                    }
                });
            }
        }

        "<% for(var i=0; i < users.length; i++) { %>"
        $("#click<%=users[i]%>").on("click", () => {
            clearInterval(t);
            user = "<%=users[i]%>";
            $("#msgpanel").empty();
            $.ajax({
                type: 'GET',
                url: '/getMessages?username=<%=users[i]%>',
                success: (data) => {
                    numMsgs = 0;
                    for (const iterator of data) {
                        numMsgs = numMsgs + 1;
                        let color = "light-blue darken-1 ";
                        let align = "right-align";
                        if (iterator.from == "<%=users[i]%>") {
                            color = "blue-grey lighten-3 ";
                            align = "left-align";
                        }
                        addMessage(color, align, iterator.text);
                    }
                    t = setInterval(msgPoll, 2000);
                }
            });
        });
        "<% } %>"

        $("#btnsend").on("click", () => {
            let msg = $("#text").val();
            $("#text").val("");
            if (user != "" && msg != "") {
                $.ajax({
                    type: 'POST',
                    url: '/sendMessage',
                    data: JSON.stringify({
                        "to": user,
                        "text": msg
                    }),
                    'processData': false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: () => { },
                    failure: (errMsg) => {
                        alert("Something Went Wrong. Opps");
                    }
                });
            }
        });

        // function polling() {
        //     $.ajax({
        //         type: 'GET',
        //         url: '/getNotifications',
        //         success: function (data) {
        //             // console.log("notifications", data);
        //             $('#notif1').text(data + "");
        //         }
        //     });
        //     $.ajax({
        //         type: 'GET',
        //         url: '/getMessageCount',
        //         success: function (data) {
        //             // console.log("msgcount", data);
        //             $('#msg1').text(data + "");
        //         }
        //     });
        // }

        // $(document).ready(setInterval(polling, 3000));
    </script>

    <div class="footer">
        <div class="footer-copyright">
            <div class="container">
                © 2019 by bngweny
            </div>
        </div>
    </div>
</body>

</html>