<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
		body {
			margin: 0;
			padding: 0;
		}

		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			color: black;
			text-align: center;
			background-color: white;
		}
	</style>
	<title>Find</title>
</head>

<body style="background-image: url('/img/back6.jpg'); background-size: cover; overflow: hidden;">
	<div style="width: 100%; position: absolute; z-index: -1; height: 100vh; background-color:  pink; opacity: 0.8;">
		<nav role="navigation">
			<div class="nav-wrapper container"><a id="logo-container" href="/home" class="brand-logo">MATCHA</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="dropdown1" class="dropdown-content">
					<li><a href="/profile">Profile</a></li>
					<li><a href="#!">Reset Password</a></li>
					<li class="divider"></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
				<ul class="right hide-on-med-and-down">
					<li><a href="/find">Find</a></li>
					<li><a class="dropdown-button" href="#" data-activates="dropdown3">Notifications<span
								class="new badge">0</span></a></li>

					<li><a href="/chat">Messages<span class="new badge">0</span></a></li>
					<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Settings<i
								class="material-icons right">arrow_drop_down</i></a></li>
				</ul>
				<ul id="dropdown3" class="dropdown-content">
					<li><a href="#!">Welcome to matcha</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="/find">Find</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="#">Notifications<span class="new badge">0</span></a></li>
					<li><a href="#">Settings</a></li>
				</ul>
				<!-- <ul id="nav-mobile" class="sidenav">
					
				</ul> 
				<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->

			</div>
		</nav>
		<h1 style="text-align:center">Find</h1>
		<div class="row">
			<div class="col s3">
				<a href="/find" class="waves-effect waves-light btn"><i class="material-icons right">map</i>Map View</a>
			</div>
			<form class="col s3" action="/search" method="POST">
				<div class="input-field ">
					<i class="material-icons prefix">search</i>
					<textarea id="search" name="search" class="materialize-textarea"></textarea>
					<label for="search">Search</label>
				</div>
				<div class="row">
					<input class="with-gap" name="group1" type="radio" value="username" id="radiousername" checked />
					<label for="radiousername" class="black-text">By Username</label>

					<input class="with-gap" name="group1" type="radio" value="tags" id="radiotag" />
					<label for="radiotag" class="black-text">By Tag</label>

					<input class="with-gap" name="group1" type="radio" value="age" id="radioage" />
					<label for="radioage" class="black-text">By Age</label>

					<input class="with-gap" name="group1" type="radio" value="location" id="radiolocation" />
					<label for="radiolocation" class="black-text">By Location</label>
				</div>
				<button class="btn waves-effect waves-light" type="submit" name="action">Search
					<i class="material-icons right">send</i>
				</button>
			</form>
			<div class="col s3 offset-s2">
				<!-- Dropdown Trigger -->
				<a class='dropdown-button btn' href='#' data-activates='dropdown2'>Sort</a>

				<!-- Dropdown Structure -->
				<ul id='dropdown2' class='dropdown-content'>
					<li><a href="/sortbylocation"><i class="material-icons">location_on</i>Location</a></li>
					<li><a href="/sortbyrating"><i class="material-icons">people</i>Fame Rating</a></li>
					<li><a href="/sortbyage"><i class="material-icons">today</i>Age</a></li>
					<li><a href="/sortbytag">Tags</a></li>
				</ul>
			</div>
		</div>
		<div class="row" style="max-height:60vh; overflow-y: auto">
			<div class="col s6 offset-s3">
				<ul class="collection">
					<% for(var i=0; i < users.length; i++) { %>
					<li class="collection-item avatar">
						<img src="" id="img<%=users[i].username %>" alt="<%=users[i].username %>" class="circle">
						<span class="title"><%=users[i].username %></span>
						<p><%=users[i].name %> <%=users[i].surname %><br>
							gender: <%=users[i].additional.gender %> &nbsp; age:
							<%= (new Date(Date.now() - new Date(users[i].additional.dob).getTime()).getUTCFullYear() - 1970) %>
						</p>
						<p>Location: <%=users[i].additional.userlocation%></p>
						<p>Fame Rating: <%=fame[users[i].username]%>%</p>
						<p>Tags: <%=users[i].additional.tags%></p>
						<a href="/user?username=<%=users[i].username %>" class="secondary-content"><i
								class="material-icons black-text">whatshot</i></a>
					</li>
					<br />
					<% } %>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-copyright">
			<div class="container">
				© 2019 by bngweny
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

	<script>
		"<% for(let i = 0; i < users.length; i++)  { %>"
		$.ajax({
			type: 'GET',
			url: '/getPicture?username=<%=users[i].username%>',
			success: (data) => { console.log('read'); $("#img<%= users[i].username %>").attr("src", data)}
		})
		"<% } %>"
		$(".dropdown-button").dropdown();
		$(".button-collapse").sideNav();
	</script>
</body>

</html>