<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<style>
		body {
			margin: 0;
			padding: 0;
		}

		.input-field label {
			color: white;
		}

		/* label focus color */
		.input-field input[type=text]:focus+label {
			color: white;
		}

		.input-field .prefix.active {
			color: white;
		}

		/* #292929 */
		/* #ed5b01 ffaf06*/
	</style>
	<title>Profile</title>
</head>

<body style="background-image: url('/img/back6.jpg'); background-size: cover; overflow: hidden;">
	<div style="width: 100%; position: absolute; z-index: -1;  height:100%; background-color:  pink; opacity: 0.8;">
		<nav role="navigation">
			<div class="nav-wrapper container"><a id="logo-container" href="/home" class="brand-logo">MATCHA</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="dropdown1" class="dropdown-content">
					<li><a href="/profile">Profile</a></li>
					<li><a href="#!">Reset Password</a></li>
					<li class="divider"></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
				<ul class="right hide-on-med-and-down">
					<li><a href="/find">Find</a></li>
					<li><a href="#">Notifications<span class="new badge">0</span></a></li>
					<li><a href="/chat">Messages<span class="new badge">0</span></a></li>
					<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Settings<i
								class="material-icons right">arrow_drop_down</i></a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="/find">Find</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="#">Notifications<span class="new badge">0</span></a></li>
					<li><a href="#">Settings</a></li>
				</ul>
				<!-- <ul id="nav-mobile" class="sidenav">
					
				</ul> 
				<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->

			</div>
		</nav>
		<!-- <h1 style="text-align:center">Profile</h1> -->

		<!--	<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<input placeholder="Placeholder" id="firstname" type="text" class="validate">
						<label for="firstname">First Name</label>
					</div>
				</div>
			</form>
		 </div> -->
		<!-- <ul id="slide-out" class="side-nav fixed">
				<li><a href="#!">First Sidebar Link</a></li>
				<li><a href="#!">Second Sidebar Link</a></li>
		</ul>
		<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->
		<div class="row">
			<div class="col s4 black" style="min-height: 100vh;">
				<form>
					<h1 style="text-align: center; color: white;"><%=me.name%> <%=me.surname%></h1>
					<div class="row">
						<div class="input-field col s12 white-text">
							<input placeholder="" id="first_name" type="text" class="validate" value="<%=me.name%>">
							<label for="first_name">First Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 white-text">
							<input placeholder="" id="last_name" type="text" class="validate" value="<%=me.surname%>">
							<label for="last_name">Last Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 white-text">
							<input placeholder="" id="email" type="email" class="validate" value="<%=me.email%>">
							<label for="email">Email</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 white-text">
							<input placeholder="" id="username" type="text" class="validate" value="<%=me.username%>">
							<label for="username">Username</label>
						</div>
					</div>
					<!-- <div class="row">
						<div class="input-field col s12">
							<select name="gender">
								<option value="male" selected>Male</option>
								<option value="female">Female</option>
							</select>
							<label>Gender</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<select name="sexual">
								<option value="men">Men</option>
								<option value="women">Women</option>
								<option value="both" selected>Both</option>
							</select>
							<label>Sexual Preference</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 white-text">
							<input placeholder="" id="location" type="text" class="validate">
							<label for="last_name">Location</label>
						</div>
					</div> -->
					<div class="row white-text">
						<div class="chips chips-initial"></div>
					</div>
				</form>
			</div>
			<div class="col s8">
				<div class="row ">
					<h1 class="center-align">Profile</h1>
				</div>

				<div class="row">
					<div class="input-field">
						<select name="gender">
							<option value="" disabled selected>Choose your Gender</option>
							<option value="male">Male</option>
							<option value="female">Female</option>
						</select>
						<label>Gender</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<select name="sexual">
							<option value="" disabled selected>What is your sexual preference</option>
							<option value="men">Men</option>
							<option value="women">Women</option>
							<option value="both">Both</option>
						</select>
						<label>Sexual Preference</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea id="bio1" name="bio" class="materialize-textarea"></textarea>
						<label>Say something about yourself:</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">location_on</i>
						<input type="text" id="autocomplete-input" name="location" class="autocomplete">
						<label for="autocomplete-input">Location</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/materialize.js"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/js/min/perfect-scrollbar.jquery.min.js"></script>

	<script src="/js/plugins.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

	<script>
		var tags = [];
		"<% for(var i=0; i < me.additional.tags.length; i++) { %>"
				tags.push({
					tag: "<%=me.additional.tags[i]%>"
				});
				"<% } %>"
		$('.chips').material_chip();
		$('.chips-initial').material_chip({
			data: tags,
		});
		$(".dropdown-button").dropdown();
		$(".button-collapse").sideNav();
	</script>
</body>

</html>